<div class="col-md-12 col-xs-12 container register-user">
    <div class="col-lg-6 register-form">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <legend ng-hide="!isUpdate">Update User</legend>
                    <legend ng-hide="isUpdate">Register User</legend>                    <div class="form-group">
                        <label for="inputUsername" class="col-lg-3 control-label control-label">Email</label>
                        <div class="col-lg-9">
                            <input type="text" required="" ng-model="user.email" ng-minlength="3" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" ng-hide="isUpdate" class="col-lg-3 control-label">Password</label>
                        <label for="inputPassword" ng-hide="!isUpdate" class="col-lg-3 control-label">New Password</label>
                        <div class="col-lg-9">
                            <input type="password" required="" ng-model="user.password" ng-minlength="4" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="col-lg-3 control-label">Confirm </label>
                        <div class="col-lg-9">
                            <input type="password" required="" ng-model="user.confirmpassword" ng-minlength="4" class="form-control" id="confirmPassword" placeholder="Confirm password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" ng-hide="isUpdate" ng-click="register(user)" class="btn btn-primary">Register</button>
                            <button type="submit" ng-hide="!isUpdate" ng-click="update(user)" class="btn btn-primary">Update</button>
                            <button type="reset" class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!--<div class="col-lg-12 container" ng-hide="isRegistered">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 register-form">
        <div class="well bs-component teacher-register">
            <form class="form-horizontal" name="teacherForm">
                <fieldset>
                    <legend>Register Teacher</legend>
                    <div class="form-group">
                        <label for="firstName" class="col-lg-3 control-label">First Name</label>
                        <div class="col-lg-9">
                            <input type="text" required="" ng-minlength="3" ng-maxlength="20" ng-model="teacher.FirstName" class="form-control" id="firstName" placeholder="First Name">
                            <span ng-show="myForm.name.$error.required" class="help-inline">
                                Required
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-lg-3 control-label">Last Name</label>
                        <div class="col-lg-9">
                            <input type="text" required ng-minlength="3" ng-maxlength="20" ng-model="teacher.LastName" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-lg-3 control-label">Email</label>
                        <div class="col-lg-9">
                            <input type="email" required ng-model="teacher.Email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-lg-3 control-label">Title</label>
                        <div class="col-lg-9">
                            <input type="text" required ng-minlength="3" ng-maxlength="20" ng-model="teacher.Title" class="form-control" id="title" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-lg-3 control-label">Phone</label>
                        <div class="col-lg-9">
                            <input type="text" required ng-minlength="3" ng-maxlength="20" ng-model="teacher.Phone" class="form-control" id="phone" placeholder="Phone">
                        </div>
                    </div>
                    <input type="hidden" ng-model="teacher.ImagePath" />
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button ng-if="isUpdate" type="submit" ng-click="update(teacher);" class="btn btn-primary">Submit</button>
                            <button ng-if="!isUpdate" type="submit" ng-click="register(teacher);" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default" ng-click="isUpdate = false">Cancel</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>-->