
<ul ng-hide="isAdmin" class="nav navbar-nav navbar-right">
    <li><a href="#home" class="page-scroll">Home</a></li>
    <li><a href="#teachers" class="page-scroll">Teachers</a></li>
    <li><a href="#app-section" class="page-scroll">App</a></li>
    <li><a href="#download-section" class="page-scroll">Download</a></li>
    <li><a href="#contact-section" class="page-scroll">Contact us</a></li>
    <li ng-hide="!isLogged">
        <a class="btn btn-primary" ng-click="logout()">Logout</a>
    </li>
</ul>

   
