<div ng-show="noLocations">
    <h1>No locations for user</h1>
</div>
<div class="sk-circle black" ng-show="isLoading">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
</div>
<div id="map" class="col-md-12" ng-hide="isLoading"></div>
<!--<div class="route-types">
    <img src="../../Images/driving.png" width="30" height="30" />
</div>-->